<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature android:name="android.hardware.microphone" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloWorldJava"
        tools:targetApi="31">
        <activity
            android:name=".view.SpeechBookTest.SpeechActivity"
            android:exported="false" />
        <activity
            android:name=".view.Menu.testActivity"
            android:exported="false" />
        <activity
            android:name=".view.Account_Register"
            android:exported="false"
            android:label="@string/title_activity_account_register"
            android:theme="@style/Theme.HelloWorldJava" />
        <activity
            android:name=".view.Account_Login"
            android:exported="false" />
        <activity
            android:name=".view.Thongbao.Noitification"
            android:exported="false" />
        <activity
            android:name=".view.GioiThieuSach.BookDetailActivity"
            android:exported="false" />
        <activity
            android:name=".view.Menu.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".view.Library.QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".view.Library.LibraryActivity"
            android:exported="false" />
        <activity
            android:name=".view.AccountSettingActivity"
            android:exported="false"
            android:label="Sửa thông tin"
            android:parentActivityName=".view.UserActivity" />
        <activity
            android:name=".view.ReadBookActivity"
            android:exported="false"
            android:label="Book Name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".view.BookCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.ListBooksActity"
            android:exported="false" />
        <activity
            android:name=".view.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".view.UserActivity"
            android:exported="true"
            android:label="Thông tin cá nhân"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".view.CommentActivity"
            android:exported="true"
            android:label="Comment"
            android:parentActivityName=".view.ReadBookActivity" />
    </application>

</manifest>